<!DOCTYPE html>
<html lang="en">
<head>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<style>
@import url('https://fonts.googleapis.com/css?family=Righteous');

.well{
  width: 500px;
  background-color: rgb(255,255,255,.6);
}
#new{
  color: black;
  font-family: 'Righteous', cursive;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 5px white;
}
#name , #email , #contact , #college , #password1 , #password2 , #messName , #owner ,#submitButton{
  display: none;
}
#gudda{
  position: absolute;
  left:33%;
  top:60px;
}
.modal-body{
  position: relative;
  top:210px;
  left:27%;
  overflow-y: visible;
}
body  {
    background-image: url("https://images.pexels.com/photos/459469/pexels-photo-459469.jpeg?cs=srgb&dl=basil-delicious-food-459469.jpg&fm=jpg");
    background-color: #cccccc;
    background-size: 100%;
}
</style>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mess Manager login</title>
</head>
<body>
    <center> 
    <%if(success==false){%>
        <p><%=msg%></p>
    <%}%>
 <%if(success==true){%>
        <p><%=msg%></p>
    <%}%>
    </center>
  
<img id="gudda" src="https://preview.ibb.co/mjvDu9/chef.png" alt="chef" border="0">
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="" id="loginModal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <!-- <img src="https://preview.ibb.co/cCegRU/ES_logo.png" alt="ES_logo" border="0"> -->
                <div id='new'><h1>Mess Management</h1></div>
              </div>
              <img id="gudda" src="https://preview.ibb.co/mjvDu9/chef.png" alt="chef" border="0">
              <div class="modal-body">
                <div class="well">
                  <ul class="nav nav-tabs">
                    <li class="active" class="btn btn-success"><a href="#login" data-toggle="tab">Login</a></li>
                    <li><a href="#create" data-toggle="tab">Create Account</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="login">
                      <form class="form-horizontal" action='/login' method="POST">
                        <fieldset>
                          <div id="legend">
                            <center><h3 class="">Login</h3></center>
                          </div>    
                          <div class="control-group">
                            <!-- Username -->
                            <label class="control-label"  for="username">Username</label>
                            <div class="controls">
                              <input type="text" id="username" name="email" placeholder="" class="input-xlarge">
                            </div>
                          </div>
     
                          <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                              <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            </div>
                          </div>
     
     
                          <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                              <button class="btn btn-success">Login</button>
                            </div>
                          </div>
                        </fieldset>
                      </form>                
                    </div>
                    <div class="tab-pane fade" id="create" style="height: 300px;">
                      <form id="tab" action="/signup" method="POST">
                        <label>User type</label>
                        Student:<input type="radio" name="user" id="student">
                        Mess Incharge:<input type="radio" name="user" id="mess">
                        <div id="owner">
                          <label>Owner name</label>
                        <input type="text" value=""  class="input-xlarge" name="owner">
                      </div>
                      <div id="messName">
                          <label>Mess name</label>
                        <input type="text" value=""  class="input-xlarge" name="messName">
                      </div>
                        <div id="name">
                         <label>Name</label>
                        <input type="text" value=""  class="input-xlarge" name="name">
                      </div>
                        <div id="email">
                        <label>User Email</label>
                        <input type="text" value=""  class="input-xlarge" name="email">
                      </div>
                        <div id="contact">
                        <label>Contact Number</label>
                        <input type="text" value="" class="input-xlarge" name="contact">
                      </div>
                      <div id="college">
                      <label>College Name</label>
                        <select type="text" value="" class="input-xlarge" name="collegeName">
                          <option>IET DAVV</option>
                          <option>GSITS</option>
                          <option>Medicaps</option>
                          <option>Bansal</option>
                          <option>Truba College</option>
                          <option>CDGI</option>
                         </select>

                      </div>
                      <div id="password1">
                        <label>Password</label>
                        <input type="password" value="" class="input-xlarge" name="password">
                      </div>
                     <div id="password2">

                        <label>Confirm Password</label>
                        <input type="password"  value="" class="input-xlarge" name="password2">
     </div>
                        <div>

                          <button id="submitButton" type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

</div>
 <script>
     $('#student').on('click',function(){
           $('#name').css('display','inline');
           $('#email').css('display','inline');
           $('#contact').css('display','inline');
           $('#college').css('display','inline');
           $('#password1').css('display','inline');
           $('#password2').css('display','inline');
           $('#owner').css('display','none');
           $('#messName').css('display','none');
           $('#submitButton').css('display','inline');

     });   
     $('#mess').on('click',function(){
           $('#name').css('display','none');
           $('#email').css('display','inline');
           $('#contact').css('display','inline');
           $('#college').css('display','inline');
           $('#password1').css('display','inline');
           $('#password2').css('display','inline');
           $('#owner').css('display','inline');
           $('#messName').css('display','inline');
           $('#submitButton').css('display','inline');

     });
     if($('#password1').val()!=$('#password2').val() || $('#password1').val()!='' || $('#password2').val()!='')
     {
        $('#submitButton').disabled=true;
     }

 </script>
</body>
</html> 





